button[name='open-form-email']{
    background-color: rgb(255, 51, 28);
    position: absolute;
    top: 0;
    left: 0;
    margin: 10px;
}
.formulario-contenedor{
    margin-bottom: 15%;
}
/* Estilos específicos para pantallas más pequeñas (por ejemplo, dispositivos móviles) */
@media (max-width: 767px) {
    .formulario-contenedor{
        margin-bottom: 7%;
    }
  }
@media (min-width: 1024px) {
    .formulario-contenedor{
        margin-bottom: 7%;
    }
}
@media (min-width: 768px) and (max-width: 1023px) {
    .formulario-contenedor{
        margin-bottom: 7%;
    }
  }